[submodule "Engine/dependencies/spdlog"]
	path = Engine/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/dependencies/GLFW"]
	path = Engine/dependencies/GLFW
	url = https://github.com/AleksandarSherbula/GLFW
[submodule "Engine/dependencies/imgui"]
	path = Engine/dependencies/imgui
	url = https://github.com/AleksandarSherbula/imgui
[submodule "Engine/dependencies/glm"]
	path = Engine/dependencies/glm
	url = https://github.com/g-truc/glm
