[submodule "Engine/dependecies/spdlog"]
	path = Engine/dependecies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/dependecies/GLFW"]
	path = Engine/dependecies/GLFW
	url = https://github.com/AleksandarSherbula/GLFW
